  <ol class="post-list">
  {{#each posts as |post|}}
  <li>
 <article class="post">
      <div class="title">
        <a href="/post/{{id}}">{{post.title}}</a>
        <div>{{format_date created_at}}</div>
        {{!-- <div>
          {{post.post_content}}
        </div> --}}
      </div>
      <div>
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>

  </li>
     {{/each}}
</ol>

